@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap%27');
:root{
    --primary: rgb(254, 254, 204);
    --secondary: rgb(243, 189, 161);
    --grey: rgb(104, 121, 128);
    --blue: rgb(2, 71, 94);
}

body{
    background-color: var(--blue);
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}

p{
    font-size: 1.1em;
}
    
.container{
    width: 100;
    height: 100%;
    padding: 30px;
}

.container .header{
    width: 100%;
    display: flex;
}

.container .header .logo{
    width: 50%;
    text-align: right;
    padding-right: 50px;
}

.container .header .name-details{
    width: 50%;
    text-align: justify;
}

.small-title{
    font-size: large;
    font-weight: bold;
    color: var(--grey);
}

.body{
    margin-top: 30px ;
    padding-top: 10px;
    border: 2px black solid;
}

/* header */
.summary-details{
    font-size: 1.1em;
    padding-right: 10px;
    text-align: center;
    color: var(--secondary);
}

.box-container{
    display: flex;
    padding: 20px ;
    width: 100;
}

.title{
    font-size: 1.2em;
    color: var(--grey);
    padding-right: 30px;
    width: 10%;
    padding-top: 20px;
}


.blocks{
    flex-direction: column;
    width: 100%;
    text-align: center;
}


.block{
    border: 1px var(--primary);
    border-style: dashed;
}

.duration{
    color: var(--grey);
}

.experience-title{
    font-size: 1.15em;
    color: var(--primary);
}

.experience-company{
    font-weight: bolder;
    color: var(--secondary);
}

.education-title{
    font-size: 1.15em;
    color: var(--primary);
}

.education-location{
    font-weight: bolder;
    color: var(--secondary);
}

.personal-projects-title{
    color: var(--primary);
    font-size: 1.15em;
}

.personal-projects-description{
    color: var(--secondary);
}

.activities-title{
    color: var(--secondary);
    font-size: 1.15em;
}

.programming-skills-names{
    text-align: center;
    width: 100%;
}

.programming-skills-names div .skill{
    background-color: var(--secondary);
    color: black;
    padding: 1%;
    text-align: right;
    font-size: 20px;
    border-radius: 15px;
}


.skill-container {
    margin-left: 10px;
    background-color: var(--grey);
    width: 95%;
    border-radius: 15px;
}

.programming-skills-names div{
    color: var(--primary);
}


.php{
    width: 73%;
}

.javascript{
    width: 58%;
}

.html{
    width: 72%;
}

.xml{
    width: 68%;
}

.csharp{
    width: 86%;
}

.python{
    width: 57%;
}

.java{
    width: 88%;
}

.vb{
    width: 59%;
}

.cplus{
    width: 72%;
}

.dart{
    width: 45%;
}

.nodejs{
    width: 42%;
}

.git{
    width: 52%;
}


footer{
    height: 50px;
    background-color: aqua;
    display: none;
}


.summary-box .button{
    text-align: center;
}

.collapsible {
    background-color: var(--grey);
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: rgb(78, 90, 95);;
    color: rgb(187, 187, 187);
  }

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: var(--blue);
  }

  .content p {
    color: var(--secondary);
  }

@media screen and (max-width: 1000px) {

    body{
        margin: 10px;
        padding: 10px;
    }

    .logo :nth-child(1){
        width: 150px;
    }

    p{
        font-size: 1.1em;
    }

    .container{
        width: 100;
        height: 100%;
        padding: 10px;
    }

    .title{
        font-size: 1.05em;
        width: 20%;
    }

    .summary-details{
        font-size: 1.01em;
    }

    .personal-projects-title{
        font-size: 1.02em;
    }

    .experience-title{
        font-size: 1.02em;
    }

    .education-title{
        font-size: 1.02em;
    }

    .activities-title{
        font-size: 1.02em;
    }

    footer{
        display: none;
    }
}

@media screen and (max-width:500px) {

    body{
        margin: 0;
        padding: 0;
    }

    .logo :nth-child(1){
        width: 200px;
    }
    .container .header{
        width: 100%;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        text-align: center;
    }
    .name-details{
        text-align: center;
        justify-content: center;
    }

    .logo{
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    p{
        font-size: 1em;
    }

    .container{
        width: 100;
        height: 100%;
        padding: 5px;
    }

    .title{
        font-size: 1.05em;
        width: 30%;
    }

    .summary-details{
        font-size: 1.01em;
    }

    .personal-projects-title{
        font-size: 1.02em;
    }

    .experience-title{
        font-size: 1.02em;
    }

    .education-title{
        font-size: 1.02em;
    }

    .activities-title{
        font-size: 1.02em;
    }
    
    
}
@media screen and (max-width:200px) {

    body{
        margin: 0;
        padding: 0;
    }

    .body{
        border: none;
    }

    .logo :nth-child(1){
        width: 150px;
    }
    .container .header{
        width: 100%;
        display: flex;
        flex-direction: column ;
        justify-content: center;
        text-align: center;
    }
    .name-details{
        text-align: center;
        justify-content: center;
    }

    .logo{
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    p{
        font-size: 0.8em;
    }

    .container{
        width: 100;
        height: 100%;
        padding: 2px;
    }

    .title{
        font-size: 1em;
        width: 30%;
    }

    .summary-details{
        font-size: 0.9em;
    }

    .personal-projects-title{
        font-size: 0.9em;
    }

    .experience-title{
        font-size: 0.9em;
    }

    .education-title{
        font-size: 0.9em;
    }

    .activities-title{
        font-size: 0.9em;
    }
    
    
}


@media print {
    body { font-size: 10pt; }

    .box-container{
        padding-bottom: 19px;
    }

    .pagebreak {page-break-before: always;}

    .programming-skills-names div{
        -webkit-print-color-adjust: exact; 
    }

    .summary-details{
        margin-left: 30px;
    }

    .skill-container {
        margin-left: 40px;
        background-color: var(--grey);
        width: 95%;
        border-radius: 15px;
    }

    .programming-skills-names div{
        color: var(--blue);
    }

}